nav{
    background-color: rgba(232, 6, 6, 0.229);
    height: 13% !important;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    padding: 0;
    letter-spacing: 8px;

    .nav-link{
    
    margin-right: 220px;
    position: relative;
    
    &:hover{
        animation: centeredPosition 2s;
        color: $light-color;
    }
        &:last-child{
        position: relative;
        display: inline;
        float: right;
        }
 
        
    }
    #logo{
        height: 76px;
        width: 100px;
    }
}