@media (max-width: 420px){
    nav{ 
        
        margin: 0;
        width: 100%;
        z-index: 1;

        .nav-link{
            position: relative;
            width: 50%;
            display: flex;
            float: right;
            
            }
    }
    .main{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        height: 100vh;
        background-image: url(../img/logo.jpeg);
        background-size: auto;
        background-position-y: 30%;
        background-position-x: 45%;
        position: relative;
    }
    
    

    .location{
        height: 100vh;
        padding: 0;
        padding-top: 20%;
        margin: 0;
        position: relative;
        
        h3{
            position: relative;
            left: 15%;
            width: 85%;
            margin-top: 3%;
            text-align: right;
        }

        .map{
            position: relative;
            left: 7%;
            margin: 0 auto;
            width: 90%;
            height: 270px;
        }
    }
    footer{
        height: 100vh !important;
        padding-top: 15%;
        position: relative;
        .social-media{
            position: relative;
            color: white;
            
            li{ 
                list-style: none;
                position: relative;
                top: 50%;
                right: -10%;
                width: 100%;
                padding-top: 4%;
            }

            h1{
                text-align: right;
            }
            .copyright{
                margin-top: 30%;
                width: 100%;
                text-align: center;
                color: black;
            }
        }
    }

}