.main{  //animation: mainTransition 2s;
    height: 100vh;
    // background-image: linear-gradient(to right bottom, rgba(254, 254, 254, 0.455), rgba(254, 254, 254, 0.455)), url(../img/logo.jpeg);
    /*This makes a gradient effect and comes from the
            right to the bottom with opacity and uses the following color -->  */
    /* And then we call se url function to set the
            background image */
   
    // clip-path: polygon(0 2%, 100% 0, 100% 85%, 0 90%);
    position: relative;
    background-image: url(../img/logo.jpeg);
    background-size: initial;
    background-position: center;
    background-position-y:-1%;
}
.jello-horizontal {
	-webkit-animation: jello-horizontal 3s infinite both;
	        animation: jello-horizontal 3s infinite both;
}


