.services-carousel{
    height: 100vh;
    color: black;
    position: relative;

    .carousel{
        color: black;

        .carousel-item{
            color: black;
            height: 100vh;

            .carousel-caption{
                background-color: rgba(0, 0, 0, 0.359);
                color: white;
                
                p{
                    font-size: 1.3rem;
                }
            }
            .carousel-img{
                margin: 0 auto;
                width: 100%;
                
            }
        }
    }
    
    
}