.main{  animation: mainTransition 2s;
    height: 100vh;
    // background-image: linear-gradient(to right bottom, rgba(254, 254, 254, 0.455), rgba(254, 254, 254, 0.455)), url(../img/logo.jpeg);
    /*This makes a gradient effect and comes from the
            right to the bottom with opacity and uses the following color -->  */
    /* And then we call se url function to set the
            background image */
   
    // clip-path: polygon(0 2%, 100% 0, 100% 85%, 0 90%);
    position: relative;

    
}

.aboutUs{
    color: $light-color;
    background-color: red;
    position: relative;

    .element-about-us{
        display: inline-block;
    }
        .imgs{
            padding: 2% 10% 2%;
            box-sizing: border-box;
            width: 50%;
            left: 5%;
            position: relative;
            

        img{
            height: 400px;
            width: 100%;
            margin: 0 auto;
        }
    
    }
    .info{
        padding: 5%;
        width: 40%;
        left: 1%;
        position: relative;
        color: $dark-color;
    }
}