body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/logo.jpeg);
    background-size: initial;
    background-position: center;
    background-position-y:-1%;
}